/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.07.2017, 15:12:54
    Author     : vasil
*/

#idLoginMain{
    border: 1px solid black; /* Белая рамка */
    border-radius: 3px; /* Радиус скругления */
    width: 250px;
    height: 25%;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
}


#idDataTable{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
    width: 50%;
}

#idDataTable th {
    font-size: 13px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

#idDataTable td {
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

#idDataTable tr:hover td {background: #ccddff;}

#idTokenInfo{
    float: left;
    width: 200px;    
}